h1 {
  margin: 20px 0;
}
section {
  margin-bottom: 40px;
}

.main_photo_food {
  width: 100%;
  height: calc(100vh - 140px);
  background-image: url(../images/mainFoodPhoto.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 40px;
}

#restaurants h2 {
  width: 1140px;
}

#restaurants p {
  padding-top: 20px;
}

#restaurants a {
  text-decoration: none;
  color: black;
}

#restaurants a:hover {
  color: gray;
}

#restaurants img {
  border-radius: 20px;
  margin-bottom: 2rem;
}

#restaurants img:hover {
  opacity: 0.7;
}

#food-description {
  width: 1000px;
  margin: 0 auto;
}
