@charset "UTF-8";

section {
  margin: 0 0 40px 0;
}
img {
  width: 100%;
}
h1 {
  margin: 20px 0;
}
h2{
  text-align: center;
  margin-bottom: 25px;
}
h3 {
  margin-bottom: 1em;
}
a {
  color: black;
  text-decoration: none;
}
article {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 30%;
}
article img {
  height: 224px;
  border-radius: 20px;
  margin-bottom: 2rem;
  transition: 0.3s;
}
article img:hover{
  opacity: 0.4;
}
.centered {
  z-index: -2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}

.places-items {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  article {
    width: 100%;
  }
  .places-items {
    display: block;
  }
}

.places-to-go .text {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
#SLIDE_BG{
    width: 100%;
    height: calc(100vh - 130px);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-attachment: fixed;
    margin-bottom: 40px;
    animation: slideBg 12s ease-in-out infinite;
    background-image:url("../images/places_to_go_1.jpg");
}

@keyframes slideBg {
    0%{
        background-image:url("../images/places_to_go_1.jpg"), url("../images/places_to_go_2.jpg");
    }
    20% {
        background-image:url("../images/places_to_go_2.jpg"), url("../images/places_to_go_3.jpg");
    }
    40% {
        background-image:url("../images/places_to_go_3.jpg"), url("../images/places_to_go_4.jpeg");
    }
    60% {
        background-image:url("../images/places_to_go_4.jpeg"), url("../images/places_to_go_5.jpg");
    }
    80% {
        background-image:url("../images/places_to_go_5.jpg"), url("../images/places_to_go_1.jpg");
    }
    100%{
        background-image: url("../images/places_to_go_1.jpg"), url("../images/places_to_go_2.jpg");
    }

}